/*dive into minimalism(c)2008 Mark Pilgrim,MIT-licensed including graphics*/
html{background:white no-repeat bottom right;color:black}
body{font:normal medium 'Gill Sans','Gill Sans MT','Ikarius ADF','Candara','Jara','sans-serif';margin: 40px 5%;line-height:1.8d;}

h1 {font-size:55px; margin-top:0;}

h2{
display:inline-block;
padding:5px;
border-radius:9px;
border:3px solid black;
box-shadow:3px 4px 2px orange;
margin:3px;
margin-top:7px;
}

div h2{margin-top:8px;margin-right:4px;margin-bottom:3px;
font-size:2.8em;
background-color:lightblue;
margin-right:20px;
float:left;
margin-bottom:22px;
margin-top:10px;
}

#tablehead
{
  background-color:#CC5555;
  font-size:17px;
}

#tablecell
{
  background-color:#EEEEEE;
  font-size:14px;
}

#info
{
  color:#EE4455;
}


.label
{
  background-color:#DD9999;
  font-size:2em;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
line-height:1.5em;
  display:inline-block;
  padding:0px 10px;
  

}

.block{
	clear:both;
  border:3px solid green;
  display: inline-block;
  padding:9px;
  margin:6px;
    float:left;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
}

.block_nowidth{
  border:3px solid green;
  display: inline-block;
  padding:4px;
  margin:3px;
  float:left;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
}
